@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--dark-color);
}
a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--dark-color);
}

.header-container {
  display: grid;
  border-bottom: 1px solid var(--light-dark-color);
  grid-template-columns: 1fr 2fr;
}
.logo {
  padding: 1rem;
}
.logo p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.logo p span {
  color: var(--yellow-color);
  font-size: 2.3rem;
}

.search-content-container {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  margin-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.search-box {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
  /* outline: 1px solid red; */
  min-width: 70%;
  margin: 20px;
  padding: 20px 10px;
  max-width: 100%;
}
.search-box-container input,
.search-box-container button {
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

.search-box-container input {
 
} 

.search-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-info {
  max-width: 60%;
}
