@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--dark-color);
}
a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--dark-color);
}

.header-container {
  display: grid;
  border-bottom: 1px solid var(--light-dark-color);
  grid-template-columns: 1fr 2fr;
}
.logo {
  padding: 1rem;
}
.logo p {
  margin-top: 20px;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.logo p span {
  color: var(--yellow-color);
  font-size: 2.3rem;
}

.search-content-container {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  margin-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.search-box {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
  /* outline: 1px solid red; */
  min-width: 70%;
  margin: 20px;
  padding: 20px 10px;
  max-width: 100%;
}
.search-box-container input,
.search-box-container button {
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

.search-box-container input {
  /* background-color: transparent; */
  border: 1px solid #0a0a0a;
  padding: 0.7em;
  color: #fff;
}
search-box-container input:focus {
  border-color: #fff;
}

.search-box-container button {
  background-color: var(--yellow-color);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* search result  */

.search-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.movie-poster img {
  max-width: 300px;
  margin: 0 auto;
}
.movie-info {
  max-width: 60%;
  text-align: center;
  /* padding-top: 3rem; */
}

.movie-title {
  font-size: 2rem;
}

.movie-extra-info {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

movie-info .year {
  font-weight: 500;
}
.movie-info .rated {
  background-color: var(--yellow-color);
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}
.movie-info .released {
  font-size: 0.9rem;
  opacity: 0.9;
}
.movie-info .writer {
  padding: 0.5rem;
  margin: 1rem 0;
}
.movie-info .genre {
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}
.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
  font-size: 1.2rem;
}
.movie-info .language {
  color: var(--yellow-color);
  font-style: italic;
}
.movie-info .awards {
  font-weight: 300;
  font-size: 0.9rem;
}
.movie-info .awards i {
  color: var(--yellow-color);
  margin: 1rem 0.7rem 0 0;
}
