@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--dark-color);
}

.logo {
  padding: 1rem;
  border-bottom: 1px solid var(--light-dark-color);
}
.logo p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.logo p span {
  color: var(--yellow-color);
  font-size: 2.3rem;
}

.search-content-container {
  display: flex;
  flex-direction: column;
  color: white;
  outline: 1px solid red;
  padding: 20px;
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-result-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-info{
  max-width: 60%;
}